.dtable {
    width: 100%;
    font-family: sans-serif;
    border-collapse: collapse;
    font-size: 0.8em;
}

.dtable th, .dtable td {
    border: 2px solid white;
}

.dtable th {
    color: white;
    background-color: black;
    cursor: pointer;
    white-space: nowrap;
    padding: 4px 6px 4px 6px;
    overflow: hidden;
}

.dtable tr:nth-child(even) {
    background-color: #EEE;
}

.dtable td {
    padding: 2px 4px 2px 4px;
}

.dtable th:before {
	content: '\00A0\2b65';
	float: left;
	opacity: 0.5;
	font-weight: normal;
}

.dtable .integer, .dtable .float, .dtable .money {
    text-align: right;
}

.dtable th[data-sort-include] {
    color: black;
	background-color: hsl(75, 85%, 100%);
}

.dtable th[data-sort-include="0"] {
	background-color: hsl(75, 85%, 46%);
}

.dtable th[data-sort-include="1"] {
	background-color: hsl(75, 85%, 54%);
}

.dtable th[data-sort-include="2"] {
	background-color: hsl(75, 85%, 62%);
}

.dtable th[data-sort-include="3"] {
	background-color: hsl(75, 85%, 76%);
}

.dtable th[data-sort-include="4"] {
	background-color: hsl(75, 85%, 84%);
}

.dtable th[data-sort-include="5"] {
	background-color: hsl(75, 85%, 92%);
}

.dtable th[data-sort-direction="ASC"]:before {
    content: '\00A0\2b61';
}
.dtable th[data-sort-direction="DESC"]:before {
    content: '\00A0\2b63';
}

.dtable tr[data-filtered-out] {
    display: none;
}

.dtable .filter {
    display: block;
    margin: auto;
    padding: 1px;
    border: 1px solid gray;
}
