.k-form-ui .k-label {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 3em;
    height: min-content;
    font-weight: bold;
}

.k-form-ui .k-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2em;
    min-width: calc(100% - 25%);
    max-width: calc(100% - 25%);
    border: none;
    border-bottom: 2px solid rgba(0, 200, 0, 0.5);
    box-shadow: 0px 2px 8px 0px rgba(0, 200, 0, 0.25);
}

.k-form-ui .k-input[readonly] {
    border: none;
    background-color: white;
    color: black;
    font-weight: 800;
    font-size: 1.2em;
    font-family: 'Source Code Pro', monospace;
    box-shadow: none;
}


.k-form-ui .k-input.k-changed {
    border-bottom: 2px solid rgba(255,165,0,0.5);
    box-shadow: 0px 2px 8px 0px rgba(255,165,0,0.25);
}

.k-form-ui .k-input.k-invalid {
    border-bottom: 2px solid rgba(255,0,0,0.5);
    box-shadow: 0px 2px 8px 0px rgba(255,0,0,0.25);
}

fieldset.k-form-ui legend {
    background-color: black;
    color: white;
    min-width: 26ch;
    margin-left: 4px;
    padding: 4px;
}

fieldset.k-form-ui {
    border: 1px solid black;
    padding: 8px;
}

/* k-input can have multiple input */
.k-form-ui .k-input input {
    border: none;
    border-bottom: 1px dotted black;
    margin: 0px 1ch;
    width: 100%;
}