:root {
    --button-color: 60, 0%, 30%;
    --button-color2: 0, 100%, 100%;
    --button-height: 26px;
}

.mbutton {
    background: none;
}
.mbutton button {
    border: none;
    font-variant: small-caps;
    background: none;
    text-align: center;
    height: 100%;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 0;
}

.mbutton.modified {
    padding: 10px;
    border: none !important;
}

.mbutton[disabled], .mbutton[disabled]:active, .mbutton[disabled]:hover {
    border: 1px solid hsla(0, 0%, 40%, 1) !important;
    border-right: 2px solid hsla(0, 0%, 50%, 1) !important;
    border-bottom: 2px solid hsla(0, 0%, 50%, 1) !important;
    background: white !important;
}

.mbutton[disabled] button, .mbutton[disabled]:active button, .mbutton[disabled]:hover button {
    color: hsla(0, 0%, 50%, 1) !important;
    background: none !important;
}

.mbutton.set {
    border: 1px solid hsla(230, 70%, 40%, 1);
    border-right: 2px solid hsla(230, 70%, 50%, 1);
    border-bottom: 2px solid hsla(230, 70%, 50%, 1);
}

.mbutton.set.green, .mbutton.flavored.green {
    border: 1px solid hsla(100, 70%, 40%, 1);
    border-right: 2px solid hsla(100, 70%, 50%, 1);
    border-bottom: 2px solid hsla(100, 70%, 50%, 1);
}

.mbutton.set.red, .mbutton.flavored.red {
    border: 1px solid hsla(0, 70%, 40%, 1);
    border-right: 2px solid hsla(0, 70%, 50%, 1);
    border-bottom: 2px solid hsla(0, 70%, 50%, 1);
}

.mbutton.set.yellow, .mbutton.flavored.yellow  {
    border: 1px solid hsla(60, 70%, 40%, 1);
    border-right: 2px solid hsla(60, 70%, 50%, 1);
    border-bottom: 2px solid hsla(60, 70%, 50%, 1);
}

.mbutton.set button {
    background: linear-gradient(hsla(230, 70%, 90%, 1), hsla(230, 70%, 90%, 1) 50%, hsla(230, 70%, 80%, 1) 50%, hsla(230, 70%, 80%, 1) 100%);

}
.mbutton.set:active button {
    background: linear-gradient(hsla(230, 70%, 100%, 1), hsla(230, 70%, 100%, 1) 50%, hsla(230, 70%, 90%, 1) 50%, hsla(230, 70%, 90%, 1) 100%) !important;
}

.mbutton.set:hover button {
    background: linear-gradient(hsla(230, 70%, 70%, 1), hsla(230, 70%, 70%, 1) 50%, hsla(230, 70%, 60%, 1) 50%, hsla(230, 70%   , 60%, 1) 100%);

}

/* green set button */
.mbutton.set.green button, .mbutton.flavored.green button {
    background: linear-gradient(hsla(100, 70%, 90%, 1), hsla(100, 70%, 90%, 1) 50%, hsla(100, 70%, 80%, 1) 50%, hsla(100, 70%, 80%, 1) 100%);

}
.mbutton.set.green:active button, .mbutton.flavored.green:active button {
    background: linear-gradient(hsla(100, 70%, 100%, 1), hsla(100, 70%, 100%, 1) 50%, hsla(100, 70%, 90%, 1) 50%, hsla(100, 70%, 90%, 1) 100%) !important;
}

.mbutton.set.green:hover button, .mbutton.flavored.green:hover button {
    background: linear-gradient(hsla(100, 70%, 70%, 1), hsla(100, 70%, 70%, 1) 50%, hsla(100, 70%, 60%, 1) 50%, hsla(100, 70%   , 60%, 1) 100%);

}

/* red set button */
.mbutton.set.red button, .mbutton.flavored.red button {
    background: linear-gradient(hsla(0, 70%, 90%, 1), hsla(0, 70%, 90%, 1) 50%, hsla(0, 70%, 80%, 1) 50%, hsla(0, 70%, 80%, 1) 100%);

}
.mbutton.set.red:active button, .mbutton.flavored.red:active button {
    background: linear-gradient(hsla(0, 70%, 100%, 1), hsla(0, 70%, 100%, 1) 50%, hsla(0, 70%, 90%, 1) 50%, hsla(0, 70%, 90%, 1) 100%) !important;
}

.mbutton.set.red:hover button, .mbutton.flavored.red:hover button {
    background: linear-gradient(hsla(0, 70%, 70%, 1), hsla(0, 70%, 70%, 1) 50%, hsla(0, 70%, 60%, 1) 50%, hsla(0, 70%   , 60%, 1) 100%);

}

/* yellow  set button */
.mbutton.set.yellow button, .mbutton.flavored.yellow button{
    background: linear-gradient(hsla(60, 70%, 90%, 1), hsla(60, 70%, 90%, 1) 50%, hsla(60, 70%, 80%, 1) 50%, hsla(60, 70%, 80%, 1) 100%);

}
.mbutton.set.yellow:active button, .mbutton.flavored.yellow:active button  {
    background: linear-gradient(hsla(60, 70%, 100%, 1), hsla(60, 70%, 100%, 1) 50%, hsla(60, 70%, 90%, 1) 50%, hsla(60, 70%, 90%, 1) 100%) !important;
}

.mbutton.set.yellow:hover button,  .mbutton.flavored.yellow:hover button{
    background: linear-gradient(hsla(60, 70%, 70%, 1), hsla(60, 70%, 70%, 1) 50%, hsla(60, 70%, 60%, 1) 50%, hsla(60, 70%   , 60%, 1) 100%);

}

.mbutton button, .dijitButton, button, input[type="button"], input[type="submit"], input[type="reset"]{
    background: linear-gradient(hsla(0, 0%, 90%, 1), hsla(0, 0%, 90%, 1) 50%, hsla(0, 0%, 80%, 1) 50%, hsla(0, 0%, 80%, 1) 100%);
}

.mbutton button:active, .dijitButton:active, button:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active {
    background: linear-gradient(hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 90%, 1) 50%, hsla(0, 0%, 90%, 1) 100%) !important;
}

.mbutton button:hover, .dijitButton:hover, button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    background: linear-gradient(hsla(0, 0%, 70%, 1), hsla(0, 0%, 70%, 1) 50%, hsla(0, 0%, 60%, 1) 50%, hsla(0, 0%, 60%, 1) 100%);
}

.mbutton button.mbuttonRight {
    border-left: 1px dotted gray;
    float: right;
    width: 24px;
}

.mbutton button.mbuttonLeft {
    width: 176px;
    font-weight: bold;
    border-right: 1px solid transparent;
}

.mbuttonSingle button {
    width: 100% !important;
}

.mbuttonSubmenu {
    min-width: 220px;
    max-width: 260px;
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.mbuttonSubmenu button {
    margin: 0;
}

.mbuttonSubmenu button {
    width: 100%;
    height: var(--button-height) !important;
    border-bottom: 1px solid hsla(var(--button-color), 0.8);
}

.mbuttonSubmenu button:last-child {
    border-bottom: none;
}

.dijitButton {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-variant: small-caps;
    text-align: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: none;
}
.dijitButton * {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.mbutton, .dijitButton, button, input[type="button"], input[type="submit"], input[type="reset"] {
    font-size: 16px;
    width: 200px;
    border: 1px solid hsla(var(--button-color), 1);
    border-right: 2px solid hsla(var(--button-color), 0.8);
    border-bottom: 2px solid hsla(var(--button-color), 0.8);
    margin: 1px;
    max-height: 28px;
    min-height: 28px;
}

.mbutton.k-small, .dijitButton.k-small, button.k-small, input[type="button"].k-small, input[type="submit"].k-small, input[type="reset"].k-small {
    display: inline-block;
    width: 160px;
    font-size: 12px;
    max-height: 24px;
    min-height: 24px;
}

.mbutton.danger, .dijitButton.danger, button.danger, input[type="button"].danger, input[type="submit"].danger, input[type="reset"].danger{
    font-size: 12px;
    max-height: 24px;
    min-height: 24px;
    float: right;
}

.mbuttonMain {
    height: var(--button-height);
    display: inline-block;
}

*[data-action] {
    cursor: pointer;
}

button[data-action] {
	font-weight: bold;
	font-variant: small-caps;
}

button {
	cursor: pointer;
    color: var(--default-color)
}
