@import url('https://fonts.googleapis.com/css?family=Questrial|Roboto');
@import 'tel.css';

body {
	font-family: Roboto;
}
table  {
  width: 100%;
	border-collapse: collapse;
}
tr {
  font-size: 1.2em;
}
tr.details {
  font-size: 1em;
}

thead tr {
	background-color: black;
	color: white;
}

tbody tr {
	background-color: white;
}


td .addendum {
  font-size: 0.8em;
  color: #333;
}

td, th {
	border: 1px solid black;
	vertical-align: top;
	padding: 2px;
}

td.wide {
  min-width: 18ch;
}

th {
	cursor: pointer;
}

th[data-artnum-sortdir=desc]:after {
  font-family: "FontAwesome";
  content: ' \f0de';
}
th[data-artnum-sortdir=asc]:after {
  font-family: "FontAwesome";
  content: ' \f0dd';
}

.details {
	color: #999;
}

.details th {
	border: none;
}

.expandable {
  cursor: pointer;
}

.inprogress {
  background-color: green;
  color: white;
}

.inprogress .addendum {
  color: #ccc;
}

.later {
  background-color: hotpink;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  color: black;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  width: 12ch;
  height: 3.5ex;
}

.inprogress a.phonenumber {
    color: hsla(30, 100%, 90%, 1);
}

.later a.phonenumber {
    color: hsla(30, 100%, 30%, 1);
}

.button:active {
  background-color: #e9ecef;
  background-image: none;
  border-color: rgba(27,31,35,0.35);
  box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
}

.button.selected {
	opacity: 0.5;
}

