@import url('https://fonts.googleapis.com/css?family=Questrial|Roboto');
@import 'dtable.css';
@import 'tel.css';
@import 'select.css';
@import 'tooltip.css';
@import '../exec/css.php';

body, html { margin: 0; padding: 0; }

.timeline {
	font-family: 'Roboto', sans-serif;
	font-size: 16px !important;
	cursor: grab;
	margin-bottom: 60px;
}

span.day.anniversary {
    background-color: #e3001b;
    color: white;
}

.timeline .header div {
	display: inline-block;	
	overflow: hidden;
}

.header {
	max-height: 20px;
}

#searchbox {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: white;
	z-index: 500;
}

.weekNumber, .monthName {
	text-align: center;
}
.weekNumber.even, .monthName.even {
	background-color: white;
}

.weekNumber.odd {
	background-color: gray;
	color: white;
}
.monthName.odd {
	background-color: lightgray;
	color: black;
}
.timeline .fixed {
	position: fixed;
	z-index: 5;	
}
.timeline .line span {
	overflow: hidden;
	text-align: center;
	width: 40px;
	font-size: 16px;
	display: inline-block;
}

.day.weekend {
	background-color: black;	
	color: white;
}

.day.holiday {
    background-color: hsla(40, 100%, 50%, 1);
    color: black;
}

.day {
	background-color: white;
	border-left: 1px solid #ddd;	
	border-right: 1px solid #ddd;	
}

.timeline .handle {
  cursor: pointer;
	display: inline-block;
	width: 18px;
	text-align: center;
}
.timeline .line {
	display: inline-block;
}

.hidden {
	display: none !important;
}
.invisible {
	visibility: hidden !important;
}

.x1 {
	font-size: 0.8em !important;
}

.x2, .entry {
	font-size: 0.8em ;	
}

.x3 {
	font-size: 1.5em !important;
}


.control {
	font-size: 1em;	
}

.control .name {
	max-height: 14px;
	width: 210px;
	display: block;
	overflow: hidden;
	font-size: 12px;
	
}

.control .fa {
	font-size: 12px;
}


.entry .reservation {
	display: inline-block;
}


.x3 .control .fa {
	font-size: 12px;
}

.entry .tools .fa {
	padding-right: 9px;	
}

.error .fa-exclamation {
	text-shadow: 0 0 1px #c50050, 0 0 2px #d51060, 0 0 4px #E52070, 0 0 5px #f53080, 0 0 6px #ff4090 !important;
	color: #ffeedd !important;
}

.lock .fa-lock {
	text-shadow: 0 0 1px #c50050, 0 0 2px #d51060, 0 0 4px #E52070, 0 0 5px #f53080, 0 0 6px #ff4090 !important;
	color: #ffeedd !important;
}

.lock {
	cursor: not-allowed;
	color: white;
	background-color: #777 !important;
}

.mylock .fa-lock {
	text-shadow: 0 0 1px #9602b6, 0 0 2px #a612c6, 0 0 4px #b622d6, 0 0 5px #c632e6, 0 0 6px #d642f6 !important;
	color: #fdccff !important;
}

.refresh .fa-refresh {
	text-shadow: 0 0 1px #50c500, 0 0 2px #60d510, 0 0 4px #70E520, 0 0 5px #80f530, 0 0 6px #90ff40 !important;
	color: #ddffee !important;
}

.entry .fa-refresh, .entry .fa-lock {
	color: #ddd ;
	text-shadow: none;
}

.entry .fa-power-off {
	text-shadow: 0 0 1px #5f70b5, 0 0 2px #4f60a5, 0 0 4px #5f70b5, 0 0 5px #6f80a5, 0 0 6px #7f90a5;
	color: #ddeeff;
}

.entry.off .fa-power-off {
	text-shadow: none !important;
	color: black !important;
}

.entry .error {
	color: red;	
}

.tools .delivery {
	background-color: rgba(255, 255, 255, 0.9);
}
.entry .details {
  display: block;
}

.x1 .reservation {
	height: 38px !important;
}


.reservation.selected  { 
	background-color: #FFDD44 !important;	
}



.reservation .date {
	color: rgb(80,80,80);
}

.reservationContainer {
	padding-top: 120px !important;	
}
.reservation .reserved {
  background-color: #8B0025;
  color: white;
}
.reservation .prereserved {
  background-color: #5B8E00;
  color: white;
}

.reservation .fa-angle-double-left {
	float: left;
}

.reservation .fa-angle-double-right {
	float: right;
}

.reservation .fa-angle-double-left, .reservation .fa-angle-double-right {
	font-size: 1.8em;
	color: #aaa;
}
/*.reservation .details div {
	display: inline-block;
	padding-left: 5px;
	overflow: hidden;
}*/

/*.reservation .details div div {
	padding: 0;
	margin: 0;
	display: block;
	overflow: hidden;
}*/

.contact {
  cursor: pointer;
  padding: 0.4em 0 0.4em 0;
}

.contacts .contact:hover {
  background-color: #ddd; 
}

div.contact > div:first-child {
  font-weight: bold;
}

.card span:empty, .card span:empty + br {
	display: none;	
}
.card .type {
	text-decoration: underline;	
}


.dijitReadOnly {
	background-color: #ccc !important;	
}
.vertical {
	pointer-events: none;
	opacity: 0.2;
}

.vertical.today {
	background-color: gray;
}

.vertical.odd {
	border-left: 1px solid  black;
	border-right: 1px solid black;
	z-index: -1;
}

.bitsfield {
	text-align: center;	
}

.bit {
	font-size: 1.3em !important;
	margin: 2px;	
}

fieldset {
	margin-top: 1em;	
	margin-bottom: 1em;	
}

.dijitDateTextBox {
    width: 15ch;
}

.dijitDialog {
	cursor: auto;
}

label.big {
	padding: 2px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.machinist {
	min-height: 1.8em;
}


.dates {
	font-weight: bold;	
}

.machinist .delete {
	float: right;
	font-size: 1.4em;	
}

.iconRefresh:before {
	font-size: 16px;
	font-family: "FontAwesome";
	content: "\f021";
}

td[data-id] {
  cursor: pointer;
  text-decoration: underline;
}


table.count {
  width: 100%;
  border-collapse: collapse;
}
table.count thead th {
  border-bottom: 1px solid black;
}

table.count tbody tr:nth-child(even) {
  background-color: lightgray;
}
table.count .ref {
  min-width: 6ch;
}

table.count .reference {
  min-width: 26ch;
}

*[data-action] {
    cursor: pointer;
}

.clickable, [data-action], button {
    cursor: pointer;
    color: hsla(30, 100%, 30%, 1);
    text-decoration: underline;
}
