 @import url('https://fonts.googleapis.com/css?family=Questrial');

body, html { margin: 0; padding: 0;}

.timeline {
	font-family: 'Questrial', sans-serif;
	font-size: 16px !important;
}

.timeline .header .tools {
	width: 220px;	
}

.timeline .header div {
	display: inline-block;	
	overflow: hidden;
}

.weekNumber, .monthName {
	text-align: center;
}
.weekNumber.even, .monthName.even {
	background-color: white;
}

.weekNumber.odd {
	background-color: #005c5c;
	color: white;
}
.monthName.odd {
	background-color: #008d8d;	
	color: white;
}
.timeline .fixed {
	position: fixed;
	z-index: 5;	
}
.timeline .line span {
	overflow: hidden;
	text-align: center;
	width: 40px;
	font-size: 16px;
	display: inline-block;
}

.timeline .left {
	margin-left: 202px;	
}

.day.weekend {
	background-color: #003f3f;	
	color: white;
}

.day {
	background-color: white;
	border-left: 1px solid #ddd;	
	border-right: 1px solid #ddd;	
}

.timeline .handle {
  cursor: pointer;
	display: inline-block;
	width: 18px;
	text-align: center;
}
.timeline .line {
	display: inline-block;
}

.hidden {
	display: none !important;
}
.invisible {
	visibility: hidden !important;
}

.entry.even {
	background-color: rgba(230, 230,230, 0.5);
}

.timeline.x1 {
	font-size: 14px !important;
}

.x1 .entry {
	padding-left: 3px;
  height: 42px;
  min-height: 42px;
}

.x1 .entry .reservation {
	max-height: 38px;
	height: 38px;
}

.x1 .entry .reservation div {
	height: 32px;	
}

.x1 .reservation .details div div {
	line-height: 10px;
	2height: 10px;
	font-size: 14px;
}

.control {
	font-size: 1em;	
}

.control .name {
	max-height: 14px;
	width: 210px;
	display: block;
	overflow: hidden;
	font-size: 12px;
	
}

.control .fa {
	font-size: 12px;
}

.entry, .x2 .entry {
	padding-left: 5px;
  height: 62px;
  min-height: 62px;
}

.entry .reservation, .x2 .entry .reservation {
	display: inline-block;
	max-height: 58px;
	height: 58px;
}

.reservation .details div, .x2 .entry .reservation div {
	height: 52px;	
}

.reservation .details div div {
	line-height: 16px;
	height: 16px;
	font-size: 14px;
}

.x3 .entry {
	padding-left: 7px;
  height: 82px;
  min-height: 82px;
}

.x3 .entry .reservation {
	max-height: 78px;
	height: 78px;
}

.x3 .entry .reservation div {
	height: 72px;	
}

.x3 .control .name {
	font-size: 14px;
}

.x3 .control .fa {
	font-size: 12px;
}

.entry .tools .fa {
	padding-right: 9px;	
}

.error .fa-exclamation {
	text-shadow: 0 0 1px #c50050, 0 0 2px #d51060, 0 0 4px #E52070, 0 0 5px #f53080, 0 0 6px #ff4090 !important;
	color: #ffeedd !important;
}

.lock .fa-lock {
	text-shadow: 0 0 1px #c50050, 0 0 2px #d51060, 0 0 4px #E52070, 0 0 5px #f53080, 0 0 6px #ff4090 !important;
	color: #ffeedd !important;
}

.lock {
	cursor: not-allowed;
	color: white;
	background-color: #777 !important;
}

.mylock .fa-lock {
	text-shadow: 0 0 1px #9602b6, 0 0 2px #a612c6, 0 0 4px #b622d6, 0 0 5px #c632e6, 0 0 6px #d642f6 !important;
	color: #fdccff !important;
}

.refresh .fa-refresh {
	text-shadow: 0 0 1px #50c500, 0 0 2px #60d510, 0 0 4px #70E520, 0 0 5px #80f530, 0 0 6px #90ff40 !important;
	color: #ddffee !important;
}

.entry .fa-refresh, .entry .fa-lock, .entry .fa-exclamation {
	color: #ddd ;
	text-shadow: none;
}

.entry .fa-power-off {
	text-shadow: 0 0 1px #5f70b5, 0 0 2px #4f60a5, 0 0 4px #5f70b5, 0 0 5px #6f80a5, 0 0 6px #7f90a5;
	color: #ddeeff;
}

.entry.off .fa-power-off {
	text-shadow: none !important;
	color: black !important;
}


.entry .control {
	cursor: pointer;
	width: 110px;
}

.entry .error {
	color: red;	
}

.entry .control, .entry .data {
	display: inline-block;
}
.entry .control {
  float: left;
}

.entry .details {
  font-size: 1em;
}

.entry .details p {
	display: inline;
}

.entry .tools {
  height: 4px;
  font-size: 0.6em;
}

.headerContainer {
	background-color: white;
	width: 100%;
	border-bottom: 2px solid black;
}
.reservationContainer {
	padding-top: 88px !important;	
}
.reservation .reserved {
  background-color: #8B0025;
  color: white;
}
.reservation .prereserved {
  background-color: #5B8E00;
  color: white;
}


.reservation {
  border: 1px solid #ddd;
  overflow: hidden;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.entry .details {
  background-color: white;
	padding: 0 3px 0 3px;
}
.entry .details, .entry .tools {
  display: block;
}

.reservation.selected .details { 
	background-color: #FFDD44 !important;	
}

.reservation .fa-angle-double-left {
	float: left;
}

.reservation .fa-angle-double-right {
	float: right;
}

.reservation .fa-angle-double-left, .reservation .fa-angle-double-right {
	font-size: 1.8em;
	color: #aaa;
}
.reservation .details div {
	display: inline-block;
	padding-left: 5px;
	overflow: hidden;
}

.reservation .details div div {
	padding: 0;
	margin: 0;
	display: block;
	overflow: hidden;
}

.contact {
  cursor: pointer;
  padding: 0.4em 0 0.4em 0;
}

.contact:hover {
  background-color: #ddd; 
}

div.contact > div:first-child {
  font-weight: bold;
}

.card span:empty, .card span:empty + br {
	display: none;	
}
.card .type {
	text-decoration: underline;	
}

.rForm legend {
	font-weight: bold;	
}

.dijitReadOnly {
	background-color: #ccc !important;	
}
