html {
	overflow-x: hidden;
}

/* Menu */
#AppHeader {
	z-index: 460;
	max-height: 89px;
	height: 89px;
	background-color: white;
	width: 100%;
	max-width: 100%;
	border-bottom: 2px solid black;
}

#scrollshow {
	background-color: grey;
	color: white;
	z-index: 1100;
	position: fixed;
	top: 0px;
	right: 0px;
	font-size: 64px;
	font-weight: bold;
	padding: 1ex;
	width: 6ex;
	max-width: 6ex;
	overflow: hidden;
	display: none;
	text-align: center;
}

.logline {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 599;
	background-color: white;
}

.message {
	margin: 0 5px 0  5px;
	padding: 2px;
}

.message.error {
	background-color: rgba(255, 0, 0, 0.2);
}

.message.warning {
	background-color: rgba(255, 165, 0, 0.2);
}

.message.info {
	background-color: rgba(0, 0, 255, 0.2);
}

/* dateentry */
.dateentry > div {
	width: 100% !important;
	min-height: 1.2rem;
}

.dateentry .error {
	text-align: center;
	padding: 2px;
	background-color: red;
	color: white;
	display: inline-block;
}

/* tContainer */
#tContainer .dijitContentPane {
	overflow-y: auto !important;
}

/* Tags */

.entry.focus {
	background-color: gray !important;
}

.entry .edit button, .entry .edit input {
	font-size: 1em;
	padding: 2px;
	border: 1px solid black;
	margin: 1px;
}

/* reservation */
.reservation {
	border-radius: 12px;
	background-color: white;
  border: 1px solid #ddd;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

}

.noextender .reservation .extender {
	display: none;
}

.reservation .extender >  div {
	display: none;
}

.reservation .extender:hover > div {
	display: block;
}

.reservation .extender {
	background: repeating-linear-gradient( -45deg,
		rgba(230,230,230, 0.5), rgba(230,230,230,0.5) 2px,
		transparent 2px, transparent 4px);
	float: right;
	height: 100%;
	color: grey;
	font-size: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.semester .reservation .extender, .quarter .reservation .extender {
	display: none;
}

.reservation .extender {
	width: 20px;
}

.day .reservation .extender {
	width: 60px;
}

.reservation.noend .extender {
	display: none;
}

.reservation > div {
	overflow: hidden;
	border-radius: 12px;
}


.reservation.nobegin > div{
	border-left: 2px dotted grey;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}


.reservation.noend > div {
	border-right: 2px dotted grey;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.reservation .id {
	padding: 0 0.2em 0 0.2em;
}

.reservation .id a {
	color: black;
	text-decoration: none;
}

.reservation address {
	color: black;
	display: inline;
	font-weight: bold;	
}

.reservation address.location , .reservation address.location a { 
	font-weight: normal;
	color: black;
}

.reservation address:before {
	content: ' - ';
}

.reservation .names:before {
	content: ', ';
}

.reservation .names:first-child:before {
	content: '';
}

.reservation .date {
	color: rgb(80,80,80);
}

.reservation .date:after {
	content: ' ';
}

.reservation .date.end:before {
	content: '- ';
}

.reservation .address:after {
	content: ', ';
}
.reservation .address:last-child:after {
	content. '';
}

.reservation .hour {
	display: none;
}

.day .reservation .hour:before {
	content: ' ';
}

.day .reservation .hour {
	display: initial;
}

.compact .reservation .names:first-child:before {
	content: '';
}

.reservation .stabiloLine .number {
	float: right;
	height: 100%;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.reservation .stabiloLine .number i {
	padding: 2px 5px 2px 5px;
}

.reservation .stabiloLine .number i:only-child {
	display: none;
}

.compact .reservation .stabiloLine .number {
	padding: 0px 5px 0px 5px;
	font-size: 6px;
}


/* entry */
.entry {
	border-top: 1px dashed rgba(80, 80, 80, 0.3);
	padding-left: 5px;
  height: 76px;
  min-height: 76px;
}

.x1 .entry {
	padding-left: 3px;
  height: 52px;
  min-height: 52px;
}

.x3 .entry {
	padding-left: 7px;
}

.dijitMenuItemAccelKey {
	color: #666 !important;
}

/* entry */
.entry {
	border-top: 1px dashed rgba(80, 80, 80, 0.3);
  margin: 0; 
	padding: 0;
	height: 76px;
  min-height: 76px;
}

.control {
	height: 100%;
	width: 100%;
	margin-left: 5px;
}

.compact .entry {
	height: 24px !important; 
	min-height: 24px !important;
}

.compact .entry .tags, .compact .entry .location {
	display: none;
}

.x1 .entry {
	padding-left: 3px;
  height: 52px;
  min-height: 52px;
}

.x3 .entry {
	padding-left: 7px;
  height: 92px;
  min-height: 92px;
}

.group0.entry {
	background-color: rgba(255,255,255, 0.5); 
}

.group1.entry {
	background-color: rgba(180, 180, 160, 0.5);
}

.entry .tags, .entry .location, .entry .tags a {
	width: 100%;
	color: #888;
	text-decoration: none !important;
}


.entry .tags .tag:before {
	font-family: "FontAwesome";
	content: "\f02b\00A0";
}

.entry .tags .tag:after {
	content: "\0020";
}

.entry .control {
	width: 200px;
}

.entry .control .tools {
	display: none !important;
}
.entry .reference:after {
	content: "\0020";
}

.entry .details {
	padding: 0 3px 0 3px;
	height: 100%;
}

.entry .tools {
  height: 8px;
	position: relative;
	top: -8px;	
}

.x1 .entry .tools {
	height: 6px;
	top: -6px;
}

.x3 .entry .tools {
	height: 10px;
	top: -10px;
}

/* rForm */
.rForm .group {
	width: 100%;
	font-size: 16px;
}

.rForm label.fixedSize {
	width: 100px;
	display: inline-block;
}

.rForm .group.twocol {
	display: flex;
}

.rForm .group.twocol > fieldset {
	width: 48%;
	margin-left: 1%;
}

.rForm textarea {
	font-family: "Roboto", sans-serif;
}

.rForm .dijitTimeTextBox {
	width: 4em;
}

.rForm .dualEntry .dijitTextBox {
	width: 180px;
}

.rForm .dualEntry .dijitTimeTextBox {
	width: 4em;
}

.rForm .dualEntry label {
	margin-left: 1em;
}

.rForm .group textarea {
	display: inline-block;
	width: 15em;
}

.rForm .twocol textarea {
	display: block;
	width: 100%;
}

.rForm .dualEntry label:first-child {
	margin-left: 0;
}

.rForm .association .name {
	font-weight: bold;
	padding: 2px 0 2px 0;
}

.rForm .association .item {
	margin: 2px 0 2px 0;
}

.rForm .association .item .description {
	display: flex;
}

.rForm .association .item .value {
	display: inline-block;
}

.rForm .association .item .number {
	width: 2em;
}

.rForm .association .item .date {
	width: 6em;
}

.rForm .association .item .hour {
	width: 4em;
}

.rForm .association .item .follow {
	width: 20em;
}

.rForm .association .item .toolbox {
	float: right;
}
.rForm .association .item i {
	width: 2em;
}

.rForm .association .item .comment {
	margin-left: 2em;
	font-style: italic;
}

.rForm .association {
	margin: 0.6em 1.2em 0.6em 1.2em;
}

.rForm .command {
	background-color: #DDD;
	margin: 1em 0 0 0;
	border-top: 2px solid black;
	padding: 0.6em 0.2em 0.6em 0.2em;
}

/* Contact form */
.contacts .dijitTextBox {
	width: 180px;
}
