html {
	overflow-x: hidden;
}

.header:active div.even {
	background-color: red;
	color: yellow;
}
.header:active div.odd {
	background-color: yellow;
	color: red;
}

.leftpane {
  position: fixed;
  width: 680px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 600;
  background-color: white;
}

.titleBar {
  width: 100%;
  height: 31px;
  color: gray;
  border-bottom: 1px solid black;
}

.titleBar .button {
  width: 32px;
  height: 32px;
  text-align: center;
  float: right;
  cursor: pointer;
}

.titleBar .button i {
  font-size: 24px;
}

.nohandle {
  cursor: initial; 
}

/* Menu */
#AppHeader {
	z-index: 460;
	max-height: 89px;
	height: 89px;
	11;rgb:2323/2727/2929background-color: white;
	width: 100%;
	max-width: 100%;
	border-bottom: 2px solid black;
}

#scrollshow {
	background-color: grey;
	color: white;
	z-index: 1100;
	position: fixed;
	top: 0px;
	right: 0px;
	font-size: 64px;
	font-weight: bold;
	padding: 1ex;
	width: 6ex;
	max-width: 6ex;
	overflow: hidden;
	display: none;
	text-align: center;
}

.logline {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 599;
	background-color: white;
}

.message {
	margin: 0 5px 0  5px;
	padding: 2px;
}

.message.error {
	background-color: rgba(255, 0, 0, 0.2);
}

.message.warning {
	background-color: rgba(255, 165, 0, 0.2);
}

.message.info {
	background-color: rgba(0, 0, 255, 0.2);
}

/* windows */
.topWin {
  background-color: white;
  width: 96%;
  height: 96%;
  position: fixed;
  top: 2%;
  left: 2%;
  z-index: 9999;
  border: 2px solid gray;
}

.topWin iframe {
  border: none;
  position: absolute;
  width: 100%;
  height: calc(100% - 38px);
  top: 38px;
  left: 0;
  right: 0;
  bottom: 0;
}

.topWin div {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 36px;
  text-align: right;
  background-color: black;
}

.topWin div span {
  color: white;
  float: left;
  font-size: 26px;
  padding: 2px;
  margin-right: 4px;
}

.topWin div li {
  font-size: 22px;
  margin-right: 4px;
  padding: 4px;
  cursor: pointer;
  color: gray;
}

.topWin div li:hover {
  color: white;
}

/* dateentry */
.dateentry > div {
	width: 100% !important;
	min-height: 1.2rem;
}

.dateentry .error {
	text-align: center;
	padding: 2px;
	background-color: red;
	color: white;
	display: inline-block;
}

/* tContainer */
#tContainer .dijitContentPane {
	overflow-y: auto !important;
}

/* Tags */

.entry.focus {
	background-color: gray !important;
}

.entry .edit button, .entry .edit input {
	font-size: 1em;
	padding: 2px;
	border: 1px solid black;
	margin: 1px;
}

/* reservation */
.reservation {
	border-radius: 12px;
	background-color: white;
  border: 1px solid #ddd;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

}

.noextender .reservation .extender {
	display: none;
}

.reservation .extender >  div {
	display: none;
}

.reservation .extender:hover > div {
	display: block;
}

.reservation .extender {
	background: repeating-linear-gradient( -45deg,
		rgba(230,230,230, 0.5), rgba(230,230,230,0.5) 2px,
		transparent 2px, transparent 4px);
	float: right;
	height: 100%;
	color: grey;
	font-size: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.semester .reservation .extender, .quarter .reservation .extender {
	display: none;
}

.reservation .extender {
	width: 20px;
}

.day .reservation .extender {
	width: 60px;
}

.reservation.noend .extender {
	display: none;
}

.reservation > div {
	overflow: hidden;
	border-radius: 12px;
}


.reservation.nobegin > div{
	border-left: 2px dotted grey;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}


.reservation.noend > div {
	border-right: 2px dotted grey;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.reservation.done {
  filter: grayscale(1) opacity(0.5)
}

.reservation .id {
	padding: 0 0.2em 0 0.2em;
}

.reservation .id a {
	color: black;
	text-decoration: none;
}

.reservation address {
	color: black;
	display: inline;
	font-weight: bold;	
}

.reservation address.location , .reservation address.location a { 
	font-weight: normal;
	color: black;
}

.reservation address:before {
	content: ' - ';
}

.reservation .names:before {
	content: ', ';
}

.reservation .names:first-child:before {
	content: '';
}

.reservation .date {
	color: rgb(80,80,80);
}

.reservation .date:after {
	content: ' ';
}

.reservation .date.end:before {
	content: '- ';
}

.reservation .address:after {
	content: ', ';
}
.reservation .address:last-child:after {
	content. '';
}

.reservation .hour {
	display: none;
}

.day .reservation .hour:before {
	content: ' ';
}

.day .reservation .hour {
	display: initial;
}

.compact .reservation .names:first-child:before {
	content: '';
}

.reservation .stabiloLine .number {
	float: right;
	height: 100%;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.reservation .stabiloLine .number i {
	padding: 2px 5px 2px 5px;
}

.reservation .stabiloLine .number i:only-child {
	display: none;
}

.compact .reservation .stabiloLine .number {
	padding: 0px 5px 0px 5px;
	font-size: 6px;
}


/* entry */
.entry {
	border-top: 1px dashed rgba(80, 80, 80, 0.3);
	padding-left: 5px;
  height: 76px;
  min-height: 76px;
}

.x1 .entry {
	padding-left: 3px;
  height: 52px;
  min-height: 52px;
}

.x3 .entry {
	padding-left: 7px;
}

.dijitMenuItemAccelKey {
	color: #666 !important;
}

/* entry */
.entry {
	border-top: 1px dashed rgba(80, 80, 80, 0.3);
  margin: 0; 
	padding: 0;
	height: 76px;
  min-height: 76px;
}

.entry:nth-child(even) {
	background-color: rgba( 230, 230, 230, 0.3);
}

.control {
	height: 100%;
	width: 100%;
	margin-left: 5px;
}

.compact .entry {
	height: 24px !important; 
	min-height: 24px !important;
}

.compact .entry .tags, .compact .entry .location {
	display: none;
}

.x1 .entry {
	padding-left: 3px;
  height: 52px;
  min-height: 52px;
}

.x3 .entry {
	padding-left: 7px;
  height: 92px;
  min-height: 92px;
}

.group0.entry {
	background-color: rgba(255,255,255, 0.5); 
}

.group1.entry {
	background-color: rgba(180, 180, 160, 0.5);
}

.entry .tags, .entry .location, .entry .tags a {
	width: 100%;
	color: #888;
	text-decoration: none !important;
}


.entry .tags .tag:before {
	font-family: "FontAwesome";
	content: "\f02b\00A0";
}

.entry .tags .tag:after {
	content: "\0020";
}

.entry .control {
	width: 200px;
}

.entry .control .tools {
	display: none !important;
}
.entry .reference:after {
	content: "\0020";
}

.entry .details {
	padding: 0 3px 0 3px;
	height: 100%;
}

.entry .tools {
  height: 8px;
	position: relative;
	top: -8px;	
}

.x1 .entry .tools {
	height: 6px;
	top: -6px;
}

.x3 .entry .tools {
	height: 10px;
	top: -10px;
}

/* rForm */
.rForm .group {
	width: 100%;
	font-size: 16px;
}

.rForm div.flex {
	display: flex;
	flex-wrap: wrap;
}

.rForm legend {
  font-weight: bold;
}

.rForm label.fixedSize {
	width: 100px;
	display: inline-block;
}

.rForm .fullWidth {
  width: 500px !important;
}
.rForm .group.twocol {
	display: flex;
}

.rForm .group.twocol > fieldset {
	width: 48%;
	margin-left: 1%;
}

.rForm textarea {
	font-family: "Roboto", sans-serif;
  min-height: 10ex;
}

.rForm .dijitTimeTextBox {
	width: 4em;
}

.rForm .dualEntry .dijitTextBox {
	width: 180px;
}

.rForm .dualEntry .dijitTimeTextBox {
	width: 4em;
}

.rForm .dualEntry label {
	margin-left: 1em;
}

.rForm .group textarea {
	display: inline-block;
	width: 15em;
}

.rForm .twocol textarea {
	display: block;
	width: 100%;
}

.rForm .dualEntry label:first-child {
	margin-left: 0;
}

.rForm .association .name {
	font-weight: bold;
	padding: 2px 0 2px 0;
}

.rForm .association .item {
	margin: 2px 0 2px 0;
}

.rForm .association .item .description {
	display: flex;
}

.rForm .association .item .value {
	display: inline-block;
}

.rForm .association .item .number {
	width: 2em;
}

.rForm .association .item .date {
	width: 6em;
}

.rForm .association .item .hour {
	width: 4em;
}

.rForm .association .item .follow {
	width: 20em;
}

.rForm .association .item .toolbox {
	float: right;
}
.rForm .association .item i {
	width: 2em;
}

.rForm .association .item .comment {
	margin-left: 2em;
	font-style: italic;
}

.rForm .association {
	margin: 0.6em 1.2em 0.6em 1.2em;
}

.rForm .command {
	background-color: #DDD;
	margin: 1em 0 0 0;
	border-top: 2px solid black;
	padding: 0.6em 0.2em 0.6em 0.2em;
}

/* Contact form */
.contacts .dijitTextBox {
	width: 180px;
}

.DocCount {
	margin: 24px 24px 24px 24px;
}

.DocCount textarea {
  width: 100%;
	height: 8em;
}

.DocCount table {
	width: 100%;
	font-size: auto;
}

.DocCount thead {
	font-weight: bold;
}

.DocCount tbody, .DocCount thead, .DocCount tfoot {
	font-size: 1.4em;
}

.DocCount tbody {
  background-color: white;
}

.DocCount tr td {
	padding: 8px;
}

.DocCount tr[data-edit] td {
	padding: 0;
}

.DocCount label:after{
  content: ' : ';
}
.DocCount tfoot {
  font-style: italic;
}

.DocCount td input {
  font-size: 1em;
  width: 100%;
}

.DocCount .short {
  width: 12ch;
}

.DocCount fieldset legend {
  font-size: 1.2em;
  font-weight: bold;
}

.DocCount input, .DocCount textarea {
	padding: 5px;
	border: 1px solid black;
	border-bottom: 2px gray solid;
}

.DocCount input:focus, .DocCount textarea:focus {
	border: 2px #F88D00 solid;
}

.DocCount input[data-changed] {
  border-bottom: 2px #9045A0 solid;
}

.DocCount input:invalid, .DocCount input:out-of-range {
  border-bottom: 2px #FF0000 solid;
	box-shadow: none;
}

.DocCount fieldset {
  display: flex;
}

.DocCount fieldset[name=contacts] {
	flex-wrap: wrap;
}

.DocCount fieldset[name=reference] {
	display: block;
	overflow: auto;
}

.DocCount fieldset[name=contacts] > div {
	display: inline-block;
}

.DocCount div[data-reference-value] {
  padding: 4px;
  cursor: pointer;
}

.DocCount div[data-address-id] {
  border: 2px solid transparent;
  padding: 4px;
  margin: 4px;
}

.DocCount div[data-selected] {
  border: 2px solid black;
  background-color: white;
}

.DocCount form[name=details] {
	display: block;
	width: 50%;
}

/* Remove spinner for input type number element */
/* For Firefox */
input[type='number'] {
  -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#commandModeOverlay {
    z-index: 999999999;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

#commandModeOverlay .search {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 36px;
    max-height: 36px;
    height: 36px;
    margin: 12px;
}

#commandModeOverlay .search input {
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: none;
    background: none;
}

#commandModeOverlay .search {
    background: white;
    border: 2px gray solid;
}

#commandModeOverlay .entry {
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    min-height: 48px;
    max-height: 48px;
    height: 48px;
}

#commandModeOverlay .key {
    display: inline-block;
    border: 2px black solid;
    font-weight: bold;
    padding: 10px;
    font-size: 24px;
    min-width: 24px;
    min-height: 24px;
    text-align: center;
    background: white;
}

#commandModeOverlay .description {
    font-size: 16px;
    display:  inline-block;
    padding: 16px;
    font-weight: bold;
}
