<div class="card contact"><i class="fa fa-user-circle-o" aria-hidden="true"></i> 
<span class="organization" data-dojo-attach-point="nOrganization"></span><br />
<span class="firstname" data-dojo-attach-point="nFirstname"></span> <span class="familyname" data-dojo-attach-point="nFamilyname"></span><br />
<span class="address" data-dojo-attach-point="nAddress"></span><br />
<span class="npa" data-dojo-attach-point="nNpa"></span> <span class="locality" data-dojo-attach-point="nLocality"></span><br />
</div>
