<div class="search"><input id="commandSearchBox" type="text" value="" name="search" /></div>
<div class="entry"><span class="key">A</span><span class="description">Se rendre à aujourd'hui</span></div>
<div class="entry"><span class="key">J</span><span class="description">Se rendre au jour</span></div>
<div class="entry"><span class="key">M</span><span class="description">Se rendre à la machine</span></div>
<div class="entry"><span class="key">R</span><span class="description">Se rendre à la réservation</span></div>
