<div>
<div class="search">
<form data-dojo-type="dijit/form/Form" data-dojo-attach-point="form" data-dojo-attach-event="submit:doSearch">
<input type="text" data-dojo-type="dijit/form/TextBox" name="search" />
<button data-dojo-type="dijit/form/Button" value="Sauvegarder"
 type="button" data-dojo-attach-event="click:doSearch" ><i class="fa fa-search" aria-hidden="true"></i> Chercher</button>
</form>
<div class="results" data-dojo-attach-point="results" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="style: { overflow: 'auto' }">
</div>
</div>
