<div>

<form data-dojo-type="dijit/form/Form" data-dojo-attach-point="nForm" data-dojo-attach-event="submit:doSearch">
<div>
<label class="big"><input type="radio" name="cType" value="_client" data-dojo-type="dijit/form/RadioButton" checked>Client</input></label>
<label class="big"><input type="radio" name="cType" value="_facturation" data-dojo-type="dijit/form/RadioButton">Facturation</input></label>
<label class="big"><input type="radio" name="cType" value="_responsable" data-dojo-type="dijit/form/RadioButton">Responsable</input></label>
<label class="big"><input type="radio" name="cType" value="_place" data-dojo-type="dijit/form/RadioButton">Sur place</input></label>
<label class="big"><input type="radio" name="cType" value="_autre" data-dojo-type="dijit/form/RadioButton">Autre</input></label> <input type="text" data-dojo-type="dijit/form/TextBox" name="details" />
</div>

<fieldset><label>Adresse du carnet</label>
<input type="text" data-dojo-type="dijit/form/TextBox" name="search" data-dojo-attach-point="nSearch"
	data-dojo-attach-event="keypress:keyEvent" tabindex="0" />
<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="click:doSearch" ><i class="fa fa-search" aria-hidden="true"></i> Chercher</button>
<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="nCancel" data-dojo-attach-event="click:resetResults" >Annuler</button>
</fieldset>

<fieldset data-dojo-attach-point="nFreeFormField"><label>Adresse libre</label>
<textarea name="freeform" data-dojo-attach-point="nFreeform" style="width: 100%;"></textarea><br />
<button data-dojo-type="dijit/form/Button" value="Ajouter" name="add" data-dojo-attach-event="click:doAddFreeform" ><i class="fa fa-plus-circle" aria-hidden="true"></i> Ajouter</button>
</fieldset>

</form>
</div>
