<div class="${baseClass}">
<div class="control">
<div data-dojo-attach-point="nameNode"></div>
<div data-dojo-attach-point="nLocation" class="location"></div>
<div data-dojo-attach-point="nTags" class="tags"></div>

<div class="tools"><i class="fa fa-power-off" aria-hidden="true" data-dojo-attach-event="onclick:eShutdown"></i><i aria-hidden="true" class="fa fa-refresh" data-dojo-attach-event="onclick:update"></i><i aria-hidden="true" class="fa fa-exclamation"></i><i aria-hidden="true" class="fa fa-lock"></i>

</div>
</div>
<div class="data" data-dojo-attach-point="data">
</div>
</div>
