<div class="${baseClass}">
<div class="control">
<i data-dojo-attach-point="extend" class="fa fa-caret-right invisible"></i>
<span data-dojo-attach-point="nameNode"></span>

<div class="tools"><i class="fa fa-power-off" aria-hidden="true" data-dojo-attach-event="onclick:eShutdown"></i><i aria-hidden="true" class="fa fa-refresh" data-dojo-attach-event="onclick:update"></i><i aria-hidden="true" class="fa fa-exclamation"></i><i aria-hidden="true" class="fa fa-lock"></i>

</div>
</div>
<div class="data" data-dojo-attach-point="data">
</div>
</div>
