<div class="${baseClass}">
<form data-dojo-type="dijit/form/Form" data-dojo-attach-point="nForm">

<div class="flex"> <!-- Flexbox base //-->

<div style="width: 100%">
<fieldset><legend>Machine</legend>
<input data-dojo-type="dijit/form/Select" name="machine" data-dojo-attach-point="nMachineChange" data-dojo-attach-event="change:doSelectMachine" />
<button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-point="nChangeMachine" data-dojo-attach-event="click:doChangeMachine">Changer</button><br />
Commandée : <input data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="nTitle" name="title" />
</fieldset>
</div>

<div style="display: flex">
<fieldset><legend>Location</legend>
<input data-dojo-type="dijit/form/CheckBox" data-dojo-attach-event="click:toggleDelivery" data-dojo-attach-point="nDelivery" /> Livraison différente<br />
Début : <input data-dojo-type="dijit/form/DateTextBox" name="beginDate" data-dojo-attach-point="beginDate" /> <input data-dojo-type="dijit/form/TimeTextBox" name="beginTime" data-dojo-attach-point="beginTime" /><br />
Fin : <input data-dojo-type="dijit/form/DateTextBox" name="endDate" data-dojo-attach-point="endDate" /> <input data-dojo-type="dijit/form/TimeTextBox" name="endTime" data-dojo-attach-point="endTime" />
<br />
<input data-dojo-type="dijit/form/CheckBox" name="confirmed" data-dojo-attach-point="nConfirmed" data-dojo-attach-event="click:toggleConfirmed"/> <label for="confirmed">Fin confirmée</label>
</fieldset>


<fieldset data-dojo-attach-point="nDeliveryFields" style="padding-left: 1em;"><legend>Livraison</legend>
<br />
Début : <input data-dojo-type="dijit/form/DateTextBox" name="deliveryBeginDate" data-dojo-attach-point="nDeliveryBeginDate" /> <input data-dojo-type="dijit/form/TimeTextBox" name="deliveryBeginTime" data-dojo-attach-point="nDeliveryBeginTime" /><br />
Fin : <input data-dojo-type="dijit/form/DateTextBox" name="deliveryEndDate" data-dojo-attach-point="nDeliveryEndDate" /> <input data-dojo-type="dijit/form/TimeTextBox" name="deliveryEndTime" data-dojo-attach-point="nDeliveryEndTime" />
</fieldset>
</div>

<div style="width: 100%;"> 
<fieldset><legend>Détails</legend>
Référence : <input data-dojo-type="dijit/form/TextBox" name="nReference" data-dojo-attach-point="nReference" /><br />
Dossier : <input data-dojo-type="dijit/form/TextBox" name="folder" data-dojo-attach-point="nFolder" /><br />
Adresse : <input data-dojo-type="dijit/form/Textarea" name="nAddress" data-dojo-attach-point="nAddress" /><br />
Localité : <input data-dojo-type="dijit/form/TextBox" name="nLocality" data-dojo-attach-point="nLocality" /><br />
Status : <input data-dojo-type="dijit/form/Select" name="status" data-dojo-attach-point="status" /><br />
</fieldset> 


<fieldset><legend>Contacts</legend>
<div data-dojo-attach-point="nContactsContainer" data-dojo-type="dijit/layout/TabContainer" style="width: 100%; height: 20ex;" data-dojo-props="isLayoutContainer: true"></div>
<div class="contacts" data-dojo-attach-point="nContacts">
<button data-dojo-type="dijit/form/Button" value="Ajouter contacts"
 type="button" data-dojo-attach-event="click:doAddContact" ><i class="fa fa-address-book-o" aria-hidden="true"></i> Ajouter contacts</button>
</div>
</fieldset>
</div>

<div style="width: 100%;">
<fieldset><legend>Matériel</legend>
<textarea data-dojo-type="dijit/form/Textarea" name="nEquipment" data-dojo-attach-point="nEquipment" style="min-height: 10ex;"></textarea>
</fieldset>

<fieldset><legend>Commentaire</legend>
<textarea data-dojo-type="dijit/form/Textarea" name="nComments" data-dojo-attach-point="nComments" style="min-height: 10ex;"></textarea>
</fieldset>
</div>

<div style="width: 100%">
<fieldset data-dojo-attach-point="nMachinistForm"><legend>Complément</legend>
	Type : <input data-dojo-type="dijit/form/Select" name="associationType" data-dojo-attach-point="nAssociationType" /><br />
<!--  #Not used now# Personne : <input data-dojo-type="dijit/form/FilteringSelect" name="nMachinist" data-dojo-attach-point="nMachinist" /><br />//-->
Début : <input data-dojo-type="dijit/form/DateTextBox" name="nMBeginDate" data-dojo-attach-point="nMBeginDate" /> <input data-dojo-type="dijit/form/TimeTextBox" name="nMBeginTime" data-dojo-attach-point="nMBeginTime" /> 
Fin : <input data-dojo-type="dijit/form/DateTextBox" name="nMEndDate" data-dojo-attach-point="nMEndDate" /> <input data-dojo-type="dijit/form/TimeTextBox" name="nMEndTime" data-dojo-attach-point="nMEndTime" /><br />
Remarque : <input data-dojo-type="dijit/form/TextBox" name="nMComment" data-dojo-attach-point="nMComment" /><br />

<button data-dojo-type="dijit/form/Button" value="Ajouter"
 type="button" data-dojo-attach-event="click:doAddComplement" ><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</button>
</fieldset>

<div data-dojo-attach-point="complements"></div>
</div>

</div> <!-- // Flexbox base //-->
<!--<div style="width: 100%;">
<div style="height: 200px; border: 5px solid blue; width: 100px" data-dojo-attach-event="dragover:dropFile,dragend:dropFile,drop:dropFile"></div>
</div>//-->
<fieldset>
<button data-dojo-type="dijit/form/Button" value="Sauvegarder"
 type="button" data-dojo-attach-event="click:doSave" ><i class="fa fa-floppy-o" aria-hidden="true"></i> Sauvegarder</button>
<button data-dojo-type="dijit/form/Button" value="Imprimer"
 type="button" data-dojo-attach-event="click:doPrint" ><i class="fa fa-print" aria-hidden="true"></i> Imprimer</button>
<button data-dojo-type="dijit/form/Button" value="Supprimer" style="float: right;"
 type="button" data-dojo-attach-event="click:doDelete" ><i class="fa fa-trash-o" aria-hidden="true"></i> Supprimer</button>
 </fieldset>
</form>


</div>
