<div data-dojo-attach-point="timeline" class="${baseClass}"><div class="fixed headerContainer" data-dojo-attach-point="fixedHeader">
<div data-dojo-attach-point="supHeader" class="header"><div class="tools">&nbsp;</div></div>
<div data-dojo-attach-point="header" class="header"><div class="tools">&nbsp;</div></div>
<div data-dojo-attach-point="moveleft" class="handle left"><i class="fa fa-angle-double-left" aria-hidden="true"></i></div><div data-dojo-attach-point="line" class="line"></div><div data-dojo-attach-point="moveright" class="handle right"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div></div>
<div class="reservationContainer" data-dojo-attach-point="domEntries"></div>
<div data-dojo-attach-point="sight"></div>
</div>
