.HBTimeSelector {
    color: var(--default-color);
    background-color: hsla(var(--default-bg-color-base), 0.8);
    font-family: 'B612 Mono', monospace;
    z-index: 1000;
    border: 2px solid black;
    border-radius: 64px;
}

.HBTimeSelector div {
    max-height: 32px;
}

.HBTimeSelector div span {
    display: inline-block;
    min-width: 24px;
    min-height: 20px;
    font-size: 22px;
    text-align: center;
    margin: 2 2 2 2;
}

.HBTimeSelector div span.n {
    font-size: 18px;
}

.HBTimeSelector div span:not(:empty) {
    cursor: pointer;
}


.HBTimeSelector div span:not(:empty):hover {
    background-color:  hsla(var(--default-highlight-color-base), 0.5);;
}