.kreservation {
    position: absolute;
    background-color: rgb(248, 248, 255);
    border: 1px solid black;
    font-family: 'B612';
    font-size: 10px;
    overflow: hidden;
    text-overflow: clip;
    box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.kreservation.k-selected {
    box-shadow: 2px 5px 5px 0px rgba(255, 0, 0, 0.75);
    border: 1px solid rgb(255, 0, 0);
}

.kreservation.k-closed {
    filter: grayscale(100%);
    opacity: 0.7;
}

.kreservation .options i.fa-folder {
    display: none;
}

.kreservation.k-folder .options i.fa-folder {
    display: unset;
}

.kreservation .options i.fa-lock {
    display: none;
}

.kreservation.k-locked .options i.fa-lock {
    display: unset;
}

.kreservation.k-left-open {
    border-left: 1px dotted transparent;
}
.kreservation.k-right-open {
    border-right: 1px dotted transparent;
}
.kreservation .content .field {
    margin: 0.5ex 1ch;
}

.kreservation .content .field.options.hidden {
    display: none;
}

.kreservation .content .field.options i {
    margin: 0 0.2ch;
}

.kreservation .content .reference {
    font-weight: bold;
}

.kreservation .color-bar {
    background-color: var(--kreservation-project-color);
    width: 100%;
    min-height: 6px;
    max-height: 6px;
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;

}
.kreservation .color-bar.full-height {
    top: 0;
    bottom: unset;
    min-height: 100%;
    max-height: 100%;
}

.kreservation.selected {
    box-shadow: 2px 5px 5px 0px rgba(255, 0, 0, 0.75);
    border: 1px solid rgb(255, 0, 0);
    background-color: #F9FBE7;
    z-index: 999999;

}

.reservation.highlight {
    z-index: 99;
    box-shadow: 0px 0px 26px 10px hsla(300, 100%, 50%, 1) !important;
    filter: none !important;
}

.reservation.done.highlight {
    filter: opacity(0.5) !important;
}

.reservation .identity .fa-folder {
    display: none;
}

.reservation .identity[data-folder] .fa-folder {
    display: inline-block;
}

.reservation .identity .fa-wrench {
    display: none;
}

.reservation .identity[data-equipment] .fa-wrench {
    display: inline-block;
}


.reservation .identity .fa-exchange-alt {
    display: none;
}

.reservation .identity[data-exchange] .fa-exchange-alt {
    display: inline-block;
}

.reservation .identity .fa-bullseye {
    display: none;
}

.reservation .identity[data-warehouse] .fa-bullseye {
    display: inline-block;
}

.reservation .identity .fa-user {
    display: none;
}

.reservation .identity[data-creator] .fa-user {
    display: inline-block;
}

.reservation .identity .fa-exclamation-triangle {
    display: none;
}

.reservation .identity[data-critic] .fa-exclamation-triangle {
    display: inline-block;
}

.reservation.updating {
    cursor: wait;
    animation-name: updating;
    animation-iteration-count: infinite;
    animation-duration: 750ms;
    animation-delay: 0;
}

@keyframes updating {
    from {
        background: repeating-linear-gradient(
            -45deg,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5) 5px,
            rgba(127,127,127,0.5) 5px,
            rgba(127,127,127,0.5) 10px
        );   
    }
    50% {
        background: repeating-linear-gradient(
            -45deg,
            rgba(127,127,127,0.5),
            rgba(127,127,127,0.5) 5px,
            rgba(255,255,255,0.5) 5px,
            rgba(255,255,255,0.5) 10px
        );   
    }
    to {
        background: repeating-linear-gradient(
            -45deg,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5) 5px,
            rgba(127,127,127,0.5) 5px,
            rgba(127,127,127,0.5) 10px
        );  
    }
}

.kreservation .k-progress {
    position: absolute;
    top: 0;
    left: 0;
    background: repeating-linear-gradient( -55deg, #eee, #eee 5px, white 5px, white 10px );
    height: 100%;
    opacity: 0.7;
}

.kreservation .k-progress-0 {
    width: 0%;
}

.kreservation .k-progress-5 {
    width: 5%;
}

.kreservation .k-progress-10 {
    width: 10%;
}

.kreservation .k-progress-15 {
    width: 15%;
}

.kreservation .k-progress-20 {
    width: 20%;
}

.kreservation .k-progress-25 {
    width: 25%;
}

.kreservation .k-progress-30 {
    width: 30%;
}

.kreservation .k-progress-35 {
    width: 35%;
}

.kreservation .k-progress-40 {
    width: 40%;
}

.kreservation .k-progress-45 {
    width: 45%;
}

.kreservation .k-progress-50 {
    width: 50%;
}

.kreservation .k-progress-55 {
    width: 55%;
}

.kreservation .k-progress-60 {
    width: 60%;
}

.kreservation .k-progress-65 {
    width: 65%;
}

.kreservation .k-progress-70 {
    width: 70%;
}


.kreservation .k-progress-75 {
    width: 75%;
}

.kreservation .k-progress-80 {
    width: 80%;
}

.kreservation .k-progress-85 {
    width: 85%;
}

.kreservation .k-progress-90 {
    width: 90%;
}


.kreservation .k-progress-95 {
    width: 95%;
}


.kreservation .k-progress-100 {
    width: 100%;
}

.kreservation .k-progress-over {
    width: 100%;
    background: repeating-linear-gradient( -55deg, #f00, #f00 5px, #f99 5px, #f99 10px );
}


.k-reservation-details {
    display: flex;
    flex-direction: column;
    padding: 1ch;
    font-size: 14px;
    font-size: 'B612';
    width: 'fit-content';
    height: 'fit-content';
    background-color: rgb(70, 70, 70);
    box-shadow: 2px 5px 5px 0px rgb(70, 70, 70);
    color:white;
}

.k-reservation-details.small-view {
    border: 2px solid white;
    box-shadow: 2px 5px 5px 0px white;
}

.k-reservation-details .k-field {
    display: flex;
}

.k-reservation-details .k-content .k-value {
    display: inline-block;
}

.k-reservation-details .k-content .k-label {
    font-weight: bold;

    display: inline-block;
    margin-right: 1ch;
    min-width: 18ch;
}

.k-step-progress {
    width: 100%;
    min-height: 20px;
}

.k-step-progress .k-step {
    min-height: 20px;
    display: inline-block;
    min-width: 2px;
    border: none;
    background-color: lightgray;
}

.k-step-progress .k-step.selected {
    display: inline-block;
    border: none;
    background-color: red;
}

.kreservation-popup {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 5px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px 15px rgba(0,0,0,0.7);
}

.kreservation.s-multiple {
    background-color: lightcoral;
}