.kreservation {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    font-family: 'B612';
    font-size: 10px;
    overflow: hidden;
    text-overflow: clip;
    box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.75);
}

.kreservation.k-left-open {
    border-left: 1px dotted transparent;
}
.kreservation.k-right-open {
    border-right: 1px dotted transparent;
}
.kreservation .content .field {
    margin: 0.5ex 1ch;
}

.kreservation .content .reference {
    font-weight: bold;
}

.kreservation .color-bar {
    background-color: var(--kreservation-project-color);
    width: 100%;
    min-height: 6px;
    max-height: 6px;
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;

}

.kreservation.selected {
    border: 4px solid var(--selected-color);
}

.reservation.highlight {
    z-index: 99;
    box-shadow: 0px 0px 26px 10px hsla(300, 100%, 50%, 1) !important;
    filter: none !important;
}

.reservation.done.highlight {
    filter: opacity(0.5) !important;
}

.reservation .identity .fa-folder {
    display: none;
}

.reservation .identity[data-folder] .fa-folder {
    display: inline-block;
}

.reservation .identity .fa-wrench {
    display: none;
}

.reservation .identity[data-equipment] .fa-wrench {
    display: inline-block;
}


.reservation .identity .fa-exchange-alt {
    display: none;
}

.reservation .identity[data-exchange] .fa-exchange-alt {
    display: inline-block;
}

.reservation .identity .fa-bullseye {
    display: none;
}

.reservation .identity[data-warehouse] .fa-bullseye {
    display: inline-block;
}

.reservation .identity .fa-user {
    display: none;
}

.reservation .identity[data-creator] .fa-user {
    display: inline-block;
}

.reservation .identity .fa-exclamation-triangle {
    display: none;
}

.reservation .identity[data-critic] .fa-exclamation-triangle {
    display: inline-block;
}

.reservation.updating {
    cursor: wait;
    animation-name: updating;
    animation-iteration-count: infinite;
    animation-duration: 750ms;
    animation-delay: 0;
}

@keyframes updating {
    from {
        background: repeating-linear-gradient(
            -45deg,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5) 5px,
            rgba(127,127,127,0.5) 5px,
            rgba(127,127,127,0.5) 10px
        );   
    }
    50% {
        background: repeating-linear-gradient(
            -45deg,
            rgba(127,127,127,0.5),
            rgba(127,127,127,0.5) 5px,
            rgba(255,255,255,0.5) 5px,
            rgba(255,255,255,0.5) 10px
        );   
    }
    to {
        background: repeating-linear-gradient(
            -45deg,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5) 5px,
            rgba(127,127,127,0.5) 5px,
            rgba(127,127,127,0.5) 10px
        );  
    }
}