.searchResult {
    background-color: white;
    font-size: 12pt;
}

.searchResult .result {
    font-size: 16pt;
    font-weight: bold;
    margin: 1ex auto auto auto;
}

.searchResult .year {
    margin: 1ex auto auto 1ch;
    font-size: 16pt;
    font-weight: bold;
}

.searchResult .entry {
    margin: auto auto auto 1ch;
}